<html>
<head>
<title>Find a walkable house to live in!</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style type="text/css">
/* Always set the map height explicitly to define the size of the div
	 * element that contains the map. */
#map {
	height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map-page {
overflow:hidden;
}
#map-canvas {
width:100%;
height:100px;
}
#map-header {
height:3em;
}
#filterpanel, #debugpanel {
margin-top:3em;
}
.range {
	width:30px;
}
</style>
<link rel="stylesheet" href="./assets/css/jquery.mobile-1.4.0.min.css" />
<script src="./assets/js/jquery.js" type="text/javascript"></script>
<script src="./assets/js/jquery.mobile-1.4.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtcDgi5lQfAov67Ji6HfPnKH5ci06yDco"></script>
<script src="./assets/js/finalproject.js" type="text/javascript"></script>
<script type="text/javascript">
	var locations = [
	{% for member in listings %}
		{
			lat:{{member.latitude}}, 
			lng:{{member.longitude}}, 
			img:"{{member.thumbnail}}", 
			title:"{{member.title}}", 
			link:"{{member.link}}", 
			published:"{{member.published}}", 
			routes:"{{member.routes}}", 
			description:"{{member.description}}"
		},
	{% endfor %}
	    ];
</script>

</head>
<body>
	<div data-role="page" id="map-page">

	
		<div data-role="header" id="map-header" data-theme="a">
			<h1>Find a walkable house to live in!</h1>
			<a href="#filterpanel" class="ui-btn-right">Search and Filter</a>
		</div>

		<div id="map-canvas">
			<!-- map loads here... -->
		</div>
		
		<div data-role="panel" id="filterpanel" data-display="overlay" data-position="right">
			<form action="gresponse" method="post" data-ajax="false" id='form1'>
				<table>
					<tr>
						<td>City: *</td>
						<td colspan="3"><input type="text" value="{{in_city}}" id="in_city" name="in_city" required></td>
					</tr>
					<tr>
						<td>State: *</td>
						<td colspan="3"><input type="text" value="{{in_state}}" id="in_state" name="in_state" required></td>
					</tr>
					<tr>
						<td>Price:</td>
						<td><input type="text" value="{{in_pricefrom}}" placeholder="0" id="in_pricefrom" name="in_pricefrom"></td>
						<td>to</td>
						<td><input type="text" value="{{in_priceto}}" placeholder="800,000" id="in_priceto" name="in_priceto"></td>
					</tr>
					<tr>
						<td>Sqft:</td>
						<td><input type="text" value="{{in_sqftfrom}}" placeholder="500" id="in_sqftfrom" name="in_sqftfrom"></td>
						<td>to</td>
						<td><input type="text" value="{{in_sqftto}}" placeholder="1,500" id="in_sqftto" name="in_sqftto"></td>
					</tr>
					<tr>
						<td>Beds:</td>
						<td colspan="3"><input type="text" value="{{in_beds}}" placeholder="0" id="in_beds" name="in_beds"></td>
					</tr>
					<tr>
						<td>Baths:</td>
						<td colspan="3"><input type="text" value="{{in_baths}}" placeholder="2" id="in_baths" name="in_baths"></td>
					</tr>
					<tr>
						<td colspan="1">Bus routes:</td>
						<td colspan="3"><input type="text" value="{{in_routes}}" placeholder="271,277" id="in_routes" name="in_routes"></td>
					</tr>
					<tr>
						<td colspan="1">Walk minutes:</td>
						<td colspan="3"><input type="text" value="{{in_walkminutes}}" id="in_walkminutes" name="in_walkminutes" placeholder="1"></td>
					</tr>
				</table>
				<input type="submit" data-icon="search" value="Search & Filter" id="submit" data-iconpos="right"/>	
			</form>			
		</div>

	</div>

</body>
</html>